@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --primary-color: hsl(120, 100%, 98%);
    --secondary-color: hsl(207, 95%, 8%);
    --third-color:#966e6e;
}
#root
{
    font-family: 'Roboto';
    background:var(--third-color);
    height: 100vh;
}
.App
{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:hsl(120, 100%, 98%)
}
.Choice
{
    width: 50%;
    height: 100px;
    margin: 0 10px;
    position:relative;
    color: inherit;
    background-color: var(--third-color);
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
}
.choiceBox
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn:active {
    transform: scale(0.98);
    opacity: 50%;
  }
  
  .btn:focus {
    outline: 0;
  }
  
.Quiz
{
    background-color: var(--secondary-color);
    text-align: center;
    width: 700px;
    position: relative;
    color: var(--primary-color);
    border-radius: 30px;
    padding: 30px;
    
}
.state-img
{
    width: 17vw;
    margin-top: 30px;
    border-radius: 30px;
    border: var(--primary-color) 10px solid;
}